.header {
    display: flex;
    /*justify-content: space-between;*/
    font-size: 1.3rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-basis: 15%;
    flex-shrink: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
}

.menu-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-options li:hover {
    scale: 1.1;
    color: green;
}

.menu-options li {
    will-change: transform;
    transition: scale .3s ease, fill .3s ease;;
}

.menu-burger-options,
.menu-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-burger-options a,
.menu-options a {
    text-decoration: none;
    color: inherit;
}

.menu-options li {
    margin-right: 2vw;
    white-space: nowrap;
}

.menu-toggle:checked {
    display: flex;
}

.menu-burger {
    display: none;
}

.reg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}

.reg button {
    margin-right: 10px;
    border: none;
    background-color: var(--green-buttons);
    color: white;
    border-radius: 5px;
    height: 80%;
    width: 6rem;
    font-weight: 400;
    font-family: Raleway, sans-serif;
}

.reg button:hover {
    background-color: var(--green-background);
    scale: 110%;
    transition: scale .3s ease, fill .3s ease;;
    cursor: pointer;
}
.menu-burger-options a:hover {
    color: limegreen;
}

@media (max-width: 992px) {
    .menu-options {
        font-size: 1.2rem;
    }

    .reg button {
        height: 70%;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-burger {
        display: flex;
        flex-basis: 20%;
    }

    .reg {
        flex-basis: 65%;
        justify-content: flex-end;
    }

    .menu-burger-options {
        font-size: 1rem;
    }

    .menu-burger-options li {
        margin-top: 2vh;
    }

    .menu-burger-options li:nth-child(1) {
        margin-top: 0;
    }

    .reg button {
        font-size: 1rem;
        width: 5rem;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked ~ .menu-icon .menu-toggle {
        display: none;
    }

    #menu-toggle:checked ~ .menu-icon .menu-cross {
        display: flex;

    }

    #menu-toggle:not(:checked) ~ .menu-icon .menu-toggle {
        display: flex;
    }

    #menu-toggle:not(:checked) ~ .menu-icon .menu-cross {
        display: none;
    }

    #menu-toggle:checked ~ .menu-burger-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 40px;
        background: rgba(241, 235, 235, 0.93);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    .menu-burger-options {
        display: none;
    }
}
