.landing {
    padding-top: 2rem;
    margin-top: 3vh;
    background: url('../assets/chinese_style.jpg') center/cover no-repeat;
    height: 75vh;
    cursor: default;
}

.landing-title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 2rem;
}

.landing-text {
    display: block;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 30%;
}

.landing-btn {
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: var(--dark-green-button);
    color: white;
    border: none;
    height: 3rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.landing-btn:hover {
    background-color: var(--green-background);
    scale: 110%;
    transition: scale .3s ease, fill .3s ease;;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .landing {
        height: 60vh;
    }

    .landing-title {
        font-size: 1.7rem;
    }

    .landing-text {
        font-size: 1.2rem;
    }

    .landing-btn {
        font-size: 1rem;
        height: 3rem;
    }
}

@media (max-width: 992px) {
    .landing {
        height: 50vh;
    }

    .landing-title {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .landing-text {
        font-size: 1rem;
    }

    .landing-btn {
        font-size: 1rem;
        height: 2.7rem;
    }
}

@media (max-width: 768px) {
    .landing {
        height: 38vh;
    }

    .landing-title {
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

    .landing-text {
        font-size: 0.8rem;
    }

    .landing-btn {
        font-size: 0.8rem;
        height: 2.4rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 576px) {
    .landing {
        height: 30vh;
    }

    .landing-title {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .landing-text {
        font-size: 0.7rem;
        width: 35%;
        flex-shrink: 0;
    }

    .landing-btn {
        font-size: 0.7rem;
        height: 2.2rem;
        margin-top: 1rem;
    }
}

@media (max-width: 450px) {
    .landing {
        height: 20vh;
    }

    .landing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .landing-title {
        margin-top: 0;
        margin-left: 0.8rem;
    }
    .landing-text {
        margin-top: 0;
        margin-left: 0.8rem;
    }

    .landing-btn {
        margin-top: 0;
        font-size: 0.65rem;
        height: 2.3rem;
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }
}
