.landing {
    padding: 2rem 0 2rem 2rem;
    background: url('../assets/chinese_style.jpg') center center/cover no-repeat;
    max-height: 75vh;
    min-height: 60vh;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    font-size: 2rem;
    font-weight: 400;
}

.landing-text {
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 30%;
}

.landing-btn {
    margin-top: 2rem;
    background-color: var(--dark-green-button);
    color: white;
    border: none;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.landing-btn:hover {
    background-color: var(--green-background);
    scale: 110%;
    transition: scale .3s ease, fill .3s ease;;
    cursor: pointer;
}

@media (max-width: 1200px) {

    .landing {
        min-height: 53vh;
    }

}

@media (max-width: 992px) {

    .landing {
        min-height: 40vh;
    }

    .landing-btn {
        height: 2.7rem;
    }
}

@media (max-width: 768px) {

    .landing {
        min-height: 16vh;
        padding: 1.5rem 0 1.5rem 1.5rem;
    }

    .landing-btn {
        font-size: 0.8rem;
        height: 2.4rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 576px) {

    .landing {
        padding: 1.5rem 0 1.5rem 1.5rem;
    }

    .landing-text {
        font-size: 1rem;
        width: 35%;
        flex-shrink: 0;
    }

    .landing-btn {
        height: 2.2rem;
        margin-top: 1rem;
    }
}


@media (max-width: 470px) {

    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  .5rem 0 .5rem .8rem;
        min-height: 23vh;
    }

    .landing-title {
        text-align: center;
        flex-basis: 100%;
        font-size: 1.5rem;
    }

    .landing-text {
        align-self: center;
        text-align: center;
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 75%;
    }

    .landing-btn {
        height: 2rem;
        margin-top: .5rem;
        margin-bottom: 0;

    }
}

@media (max-width: 350px) {
    .landing {
        min-height: 18vh;
    }
}

