.solution {
    margin: 4vh 8vw;
    cursor: default;
}

.solution-note {
    font-size: 0.8rem;
}

.solution-explanation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.solution-title {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    color: green;
    text-align: center;
}

.solution-description {
    display: block;
    margin-left: 10vw;
    font-size: 1.3rem;
    text-align: justify;
}

.steps {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.step-item {
    text-align: justify;
}

.step-item h3 {
    display: block;
}

.step-item span {
    display: block;
}

.step-2 {
    margin-top: 20vh;
    margin-left: 4vw;
}

.step-3 {
    margin-top: 10vh;
    margin-left: 4vw;
}

.step-image {
    display: block;
    margin: 3vh auto;
    height: 35vh;
    object-fit: cover;
    object-position: center center;
}

.step-image:hover {
    scale: 1.1;
    transition: scale .3s ease;
    cursor: pointer;
}

.step-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
    position: relative;
}

.step-title-1::before {
    content: '01';
    position: absolute;
    color: rgba(31, 218, 141, 0.76);
    font-size: 70px;
    font-weight: bold;
    top: -40px;
    left: 60px;
    opacity: 50%;
}

.step-title-2::before {
    content: '02';
    position: absolute;
    color: rgba(31, 218, 141, 0.76);
    font-size: 70px;
    font-weight: bold;
    top: -40px;
    left: 20px;
    opacity: 50%;
}

.step-title-3::before {
    content: '03';
    position: absolute;
    color: rgba(31, 218, 141, 0.76);
    font-size: 70px;
    font-weight: bold;
    top: -40px;
    left: 55px;
    opacity: 50%;
}

@media (max-width: 992px) {

    .steps {
        flex-wrap: wrap;
    }

    .step-item {
        width: 40%;
    }

    .step-image {
        width: 100%;
        height: auto;
    }

    .step-3 {
        margin-left: 0;
        margin-top: 0;
    }
}

@media (max-width: 768px) {

    .step-item {
        width: 35%;
    }

    .step-1 {
        margin-right: 10vw;
    }

    .step-title-1 {
        margin-top: 2vh;
    }

    .step-title-3 {
        margin-top: 2vh;
    }
}

@media (max-width: 576px) {

    .step-item {
        width: 70%;
    }

    .step-1 {
        margin-top: 2vh;
        margin-right: 0;
    }

    .step-2 {
        margin-top: 3vh;
    }

    .step-3 {
        margin-top: 3vh;
    }

    .step-title-3 {
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .step-image {
        min-height: 25vh;
    }
    .solution-explanation {
        display: flex;
        flex-direction: column;
    }
    .solution-description {
        text-align: center;
        margin-left: 0;
    }
}
