
.success {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    background-color: var(--green-background);
    height: 80vh;
    cursor: default;
}

.success-video {
    position: relative;
    width: 40%;
    margin-right: 8vw;
}

.success-video img {
    width: 100%;
}

.video-wrapper:hover {
    scale: 1.1;
    opacity: 0.8;
    transition: scale var(--video-image-animation-duration) ease, opacity var(--video-image-animation-duration) ease;
}

.video-wrapper:hover .play-icon {
    scale: 1.1;
    fill: green;
    cursor: pointer;
}

.success-title {
    font-weight: 500;
}

.play-icon {
    transition: transform var(--video-image-animation-duration) ease, fill var(--video-image-animation-duration) ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
}

.success-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 8vw;
}

.success-button {
    margin-top: 2rem;
    background-color: var(--dark-green-button);
    color: white;
    border: none;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;

}

.success-button:hover {
    background-color: var(--green-background);
    scale: 110%;
    transition: scale .3s ease, fill .3s ease;;
    cursor: pointer;
}

@media (max-width: 992px) {
    .success-video {
        width: 50%;
    }

    .success {
        gap: 30px
    }

}

@media (max-width: 768px) {
    .success {
        flex-direction: column;
        height: 85vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .success-text {
        order: 2;
        margin: 0;
        align-items: center;
        width: 65%;
    }

    .success-button {
        margin-top: .8rem;
    }

    .success-video {
        margin: 0;
        width: 65%;
    }
}

@media (max-width: 576px) {
    .success-video {
        width: 80%;
    }

    .success-title {
        text-align: center;
    }

    .success-description {
        text-align: center;
        width: 80%;
    }

    .success-text {
        width: 80%;
    }

    .success-button {
        height: 2rem;
    }

}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .success {
        height: 120vh;
    }
}